<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" id="1" aria-label="Example icon-button with a menu"
          (focusout)="print()">
    button1
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu1" id="2" aria-label="Example icon-button with a menu"
          (focusout)="print()">
    button2
  </button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</div>

